In [17]:
import pypyodbc as odbc
from sqlalchemy import create_engine

In [18]:
import pandas as pd
from sqlalchemy import create_engine
import urllib
 
username = 'sa'
password = 'rahul'
server = 'DESKTOP-DP6D3S4\MSSQLSERVER2'
database = 'Pipelines'
driver = 'ODBC Driver 17 for SQL Server'  # or 18 if installed
 
# Encode parameters for SQLAlchemy
params = urllib.parse.quote_plus(
    f"DRIVER={{{driver}}};SERVER={server};DATABASE={database};UID={username};PWD={password}"
)
 
engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")
 
# Load CSVs
customer = pd.read_csv("cleaned_customer_csv.csv")
transaction = pd.read_csv("cleaned_transaction_csv.csv")
orders = pd.read_csv("order_data.csv")
 
# Upload to tables
customer.to_sql('Customers', con=engine, if_exists='replace', index=False)
transaction.to_sql('Transactions', con=engine, if_exists='replace', index=False)
orders.to_sql('Orders', con=engine, if_exists='replace', index=False)
 
print(" All data uploaded successfully.")

 All data uploaded successfully.

In [19]:
import pandas as pd

# Query Customers table
customers_df = pd.read_sql_table('Customers', con=engine)
orders_df=pd.read_sql_table('Orders',con=engine)

# Display first few rows
customers_df

,customer_id,name,email,phone,address,registration_date,loyalty_status,countrycode
0,1,Michelle Kidd,vayala@example.net,+971 6197234258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold,AE
1,2,Brad Newton,taylorcatherine@example.net,+1 5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver,MT
2,3,Larry Torres,dsanchez@example.net,+1 8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze,UT
3,4,Kimberly Price,jessicaknight@example.com,+1 4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold,CA
4,5,Matthew Phillips,qwilliams@example.com,+1 2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold,OR
...,...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,+1 6389899441,"34746 Smith Gateway, New Sarah, AS 12715",10-02-2025,Silver,AS
996,997,Jodi Simpson,eric24@example.org,+1 4836252940,"2876 Tucker Road Suite 947, North Tommyborough...",18-04-2024,Bronze,AL
997,998,Crystal Brown,pshaffer@example.net,+1 3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",30-08-2024,Bronze,DE
998,999,Gregory Duarte,caitlindunlap@example.org,+1 2574098196,"Unit 6377 Box 7662, DPO AP 03300",16-05-2024,Gold,AP
999,1000,Jason Walls,michael42@example.com,+1 6923336880,"95002 Bruce Rue, Camachoport, MH 58723",10-12-2024,Bronze,MH

In [20]:
customers_df

,customer_id,name,email,phone,address,registration_date,loyalty_status,countrycode
0,1,Michelle Kidd,vayala@example.net,+971 6197234258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold,AE
1,2,Brad Newton,taylorcatherine@example.net,+1 5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver,MT
2,3,Larry Torres,dsanchez@example.net,+1 8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze,UT
3,4,Kimberly Price,jessicaknight@example.com,+1 4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold,CA
4,5,Matthew Phillips,qwilliams@example.com,+1 2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold,OR
...,...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,+1 6389899441,"34746 Smith Gateway, New Sarah, AS 12715",10-02-2025,Silver,AS
996,997,Jodi Simpson,eric24@example.org,+1 4836252940,"2876 Tucker Road Suite 947, North Tommyborough...",18-04-2024,Bronze,AL
997,998,Crystal Brown,pshaffer@example.net,+1 3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",30-08-2024,Bronze,DE
998,999,Gregory Duarte,caitlindunlap@example.org,+1 2574098196,"Unit 6377 Box 7662, DPO AP 03300",16-05-2024,Gold,AP
999,1000,Jason Walls,michael42@example.com,+1 6923336880,"95002 Bruce Rue, Camachoport, MH 58723",10-12-2024,Bronze,MH

In [21]:
merged_df=pd.merge(customers_df,orders_df,on='customer_id')
merged_df

,customer_id,name,email,phone,address,registration_date,loyalty_status,countrycode,order_id,order_date,order_amount,order_status,product_category
0,2,Brad Newton,taylorcatherine@example.net,+1 5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver,MT,209c024e-6c32-49fa-acd1-2501bd19c1cd,2023-10-30,486.53,Pending,Toys
1,2,Brad Newton,taylorcatherine@example.net,+1 5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver,MT,3f263091-da18-48a6-8b00-c179e1b1a81a,2024-08-29,781.22,Pending,Books
2,3,Larry Torres,dsanchez@example.net,+1 8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze,UT,63d7870e-617e-4f49-ae9b-b893e635e43f,2023-04-05,454.07,Pending,Toys
3,4,Kimberly Price,jessicaknight@example.com,+1 4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold,CA,cbe7b5ef-013f-4b4f-9ac4-3b510075080a,2023-08-12,259.07,Cancelled,Electronics
4,4,Kimberly Price,jessicaknight@example.com,+1 4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold,CA,21209e05-078a-402d-a450-dd310595e5f0,2024-08-27,117.03,Completed,Electronics
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,997,Jodi Simpson,eric24@example.org,+1 4836252940,"2876 Tucker Road Suite 947, North Tommyborough...",18-04-2024,Bronze,AL,1f68878c-e2ea-4995-8bed-fe081cf68de1,2023-12-31,761.54,Completed,Books
1996,998,Crystal Brown,pshaffer@example.net,+1 3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",30-08-2024,Bronze,DE,6591af07-d6f0-4a4d-8b17-af2f2a0024bc,2024-11-14,259.09,Completed,Electronics
1997,998,Crystal Brown,pshaffer@example.net,+1 3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",30-08-2024,Bronze,DE,40147e83-5ddc-4c9d-a936-2e9adde8a3be,2024-09-23,535.74,Cancelled,Toys
1998,999,Gregory Duarte,caitlindunlap@example.org,+1 2574098196,"Unit 6377 Box 7662, DPO AP 03300",16-05-2024,Gold,AP,37c6d783-c697-4d0a-99d0-4bbef1cbb884,2024-02-22,57.45,Pending,Books
1999,1000,Jason Walls,michael42@example.com,+1 6923336880,"95002 Bruce Rue, Camachoport, MH 58723",10-12-2024,Bronze,MH,3c8b9c0d-ffa8-41fa-a75b-ec4aee2bc780,2023-12-12,867.26,Cancelled,Toys

In [22]:
merged_df[['firstName', 'lastName']] = merged_df['name'].str.split(' ', n=1, expand=True)

In [23]:
customer_mapping = {
    'Gold' : 2,
    'Silver' : 1,
    'Bronze' : 0
}
 
merged_df['Customer_Tier'] = merged_df['loyalty_status'].map(customer_mapping)

In [24]:
merged_df.loc[1:10]

,customer_id,name,email,phone,address,registration_date,loyalty_status,countrycode,order_id,order_date,order_amount,order_status,product_category,firstName,lastName,Customer_Tier
1,2,Brad Newton,taylorcatherine@example.net,+1 5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver,MT,3f263091-da18-48a6-8b00-c179e1b1a81a,2024-08-29,781.22,Pending,Books,Brad,Newton,1
2,3,Larry Torres,dsanchez@example.net,+1 8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze,UT,63d7870e-617e-4f49-ae9b-b893e635e43f,2023-04-05,454.07,Pending,Toys,Larry,Torres,0
3,4,Kimberly Price,jessicaknight@example.com,+1 4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold,CA,cbe7b5ef-013f-4b4f-9ac4-3b510075080a,2023-08-12,259.07,Cancelled,Electronics,Kimberly,Price,2
4,4,Kimberly Price,jessicaknight@example.com,+1 4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold,CA,21209e05-078a-402d-a450-dd310595e5f0,2024-08-27,117.03,Completed,Electronics,Kimberly,Price,2
5,5,Matthew Phillips,qwilliams@example.com,+1 2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold,OR,4988e17a-4287-41b5-a483-b150f2814d12,2023-11-11,555.63,Cancelled,Books,Matthew,Phillips,2
6,5,Matthew Phillips,qwilliams@example.com,+1 2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold,OR,a1dbce6f-f08a-43d1-a2b2-1e96b6afa14d,2023-08-28,667.60,Completed,Electronics,Matthew,Phillips,2
7,6,Darrell Gallagher Dvm,larryharris@example.org,+1 3799503695,"19887 Brandon Bridge, New Rebecca, MA 94947",03-03-2025,Bronze,MA,abce154a-4017-49e2-8b21-f23a36541369,2024-08-29,129.53,Pending,Toys,Darrell,Gallagher Dvm,0
8,6,Darrell Gallagher Dvm,larryharris@example.org,+1 3799503695,"19887 Brandon Bridge, New Rebecca, MA 94947",03-03-2025,Bronze,MA,f431b991-f9ab-4bac-a8f5-36e0181f5a8c,2023-03-12,367.28,Pending,Electronics,Darrell,Gallagher Dvm,0
9,7,Louis Miller,patriciaelliott@example.org,+1 1988627105,"02590 Marshall Well, Sheppardland, CT 88067",30-09-2024,Gold,CT,ed240cd5-598c-4340-bf1b-61ad6511a814,2024-01-19,513.62,Completed,Clothing,Louis,Miller,2
10,7,Louis Miller,patriciaelliott@example.org,+1 1988627105,"02590 Marshall Well, Sheppardland, CT 88067",30-09-2024,Gold,CT,350512f8-af6c-4344-b46c-776b18fb042d,2023-08-27,651.86,Cancelled,Books,Louis,Miller,2

In [28]:
merged_df['lastName'] = merged_df['lastName'].str.split(' ').str[0]

In [29]:


merged_df.loc[1:9]

,customer_id,name,email,phone,address,registration_date,loyalty_status,countrycode,order_id,order_date,order_amount,order_status,product_category,firstName,lastName,Customer_Tier
1,2,Brad Newton,taylorcatherine@example.net,+1 5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver,MT,3f263091-da18-48a6-8b00-c179e1b1a81a,2024-08-29,781.22,Pending,Books,Brad,Newton,1
2,3,Larry Torres,dsanchez@example.net,+1 8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze,UT,63d7870e-617e-4f49-ae9b-b893e635e43f,2023-04-05,454.07,Pending,Toys,Larry,Torres,0
3,4,Kimberly Price,jessicaknight@example.com,+1 4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold,CA,cbe7b5ef-013f-4b4f-9ac4-3b510075080a,2023-08-12,259.07,Cancelled,Electronics,Kimberly,Price,2
4,4,Kimberly Price,jessicaknight@example.com,+1 4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold,CA,21209e05-078a-402d-a450-dd310595e5f0,2024-08-27,117.03,Completed,Electronics,Kimberly,Price,2
5,5,Matthew Phillips,qwilliams@example.com,+1 2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold,OR,4988e17a-4287-41b5-a483-b150f2814d12,2023-11-11,555.63,Cancelled,Books,Matthew,Phillips,2
6,5,Matthew Phillips,qwilliams@example.com,+1 2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold,OR,a1dbce6f-f08a-43d1-a2b2-1e96b6afa14d,2023-08-28,667.60,Completed,Electronics,Matthew,Phillips,2
7,6,Darrell Gallagher Dvm,larryharris@example.org,+1 3799503695,"19887 Brandon Bridge, New Rebecca, MA 94947",03-03-2025,Bronze,MA,abce154a-4017-49e2-8b21-f23a36541369,2024-08-29,129.53,Pending,Toys,Darrell,Gallagher,0
8,6,Darrell Gallagher Dvm,larryharris@example.org,+1 3799503695,"19887 Brandon Bridge, New Rebecca, MA 94947",03-03-2025,Bronze,MA,f431b991-f9ab-4bac-a8f5-36e0181f5a8c,2023-03-12,367.28,Pending,Electronics,Darrell,Gallagher,0
9,7,Louis Miller,patriciaelliott@example.org,+1 1988627105,"02590 Marshall Well, Sheppardland, CT 88067",30-09-2024,Gold,CT,ed240cd5-598c-4340-bf1b-61ad6511a814,2024-01-19,513.62,Completed,Clothing,Louis,Miller,2